/**
 *  ORDER
 *  Às vezes, reverter a ordem das linhas ou colunas de um contêiner não é suficiente.
 *  Nestes casos, podemos aplicar a propriedade order a itens individuais. Por padrão, 
 *  os itens têm o valor ZERO, mas podemos usar esta propriedade para defini-lo 
 *  também como um valor inteiro positivo ou negativo (-2, -1, 0, 1, 2).
 */

/* Level 14of24 */
#pond {
    display: flex;
}
.yellow {
    order: 1;
}

/* Level 15of24 */
#pond {
    display: flex;
}
.red {
    order: -1;
}
